.container{
  width: 100%;
  height: auto;
  background: url("../../images/mine_banner.jpg") no-repeat center;
  background-size: contain;
}
.leave{
  width: 40px;
  height: 40px;
  background: url("../../images/bookinfo_icon2.png") no-repeat;
  background-size: 100%;
}