@charset 'utf-8';
* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  touch-action: none;
}
a img{border: 0}
::-webkit-scrollbar {display:block}
body {
  font-weight: 200;
  max-width: 750px;
  margin: 0 auto;
  font-family: 'PingFan SC', 'STheitiSC-Light', 'helevtica-Light', Arial, Serif;
  -webkit-tap-highlight-color: transparent;
  word-break: break-all;
  -webkit-overflow-scrolling: touch;
}

.clearfix {
  display: inline-block;
}

.clearfix::after {
  display: block;
  content: '.';
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

.border-1px {
  position: relative
}

.border-1px::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  content: "";
  background: rgba(7, 17, 27, 0.2);
}

.border-none::before {
  display: none;
}
$font10:10px;
$font11:11px;
$font12:12px;
$font14:14px;
$font15:15px;
$font16:16px;
$font17:17px;
$color-text1:#888;
$color-text2:#555;
$color-text3:#666;
$color-text4:#ff4d4d;
@mixin title() {
  font-size: $font16;/*no*/
  padding: 30px 0 20px;/*px*/
  font-weight: 600;
  text-indent: 70px;/*px*/
}
@mixin overText() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin genxin() {
  content: "更新";
  position: absolute;
  line-height: 1.2;
  z-index: 11;
  color: rgb(255, 255, 255);
  right: 0;
  top: 0;
  background-color: rgb(255, 77, 77);
  font-size: $font10;/*px*/
  border-bottom-left-radius: 40px;/*px*/
  padding-left: 10px;/*px*/
  padding-top: 10px;/*px*/
  width: 28px;/*px*/
  height: 65px;/*px*/
}

